






<div class="row">
  <div class="col-md-6 mx-auto">
  <div class="card">
  <div class="card-header">
  <h1 class="mb-0">Reciept</h1>
  <div class="card-body">
    <form class="form" #form=ngForm>
      <div class="form-group">
        <label for="" >Title</label>
        <input name="title" type="text"  required  #title="ngModel"
         [class.is-invalid]="title.invalid && title.touched"
       class="form-control"  [(ngModel)]=header.title>
      
      </div>
     
      <div class="form-group">
        <label for="email" >Email</label>
        <input name="email" type="text"  required  #email="ngModel"
         [class.is-invalid]="email.invalid && email.touched"
       class="form-control"  [(ngModel)]=header.email [value]="email">
       <div  *ngIf="email.errors && (email.invalid || email.touched)">
        <small class="text-danger" *ngIf="email.errors.required" >Please enter email</small>
      </div>
      </div>
         
   
          
        
      
        <div class="form-group">
          <label for="" >Type</label>
          <select class="form-control"

[(ngModel)]=header.type   name="type">

<option *ngFor="let tp of typees; let i=index"
  [value]="tp.name">{{ tp.name }}</option>

</select>
          </div>
       
    <div><button [disabled]="!form.valid" (click)="addTitle()" input="button" class="btn btn-primary float right">Add Title</button></div>
    
    </form>
  </div>
  
  
  </div>
  </div>
  </div>
  </div>
  
