







<div class="row">
  <div class="col-md-6 mx-auto">
  <div class="card">
  <div class="card-header">
  
  <div class="card-body">
    <!--<form class="form">
      <div class="form-group">
        <label for="" >{{createdHeaders.email}}</label>
      
      </div>
     
      <div class="form-group">
        <label for="email" >{{createdHeaders.title}}</label>
        
      </div>
          -->
   
          
        
      
        <!-- <div class="form-group">
          <label for="" >{{createdHeaders.type}}</label>
          


          </div>
        
   
    </form>-->

  </div>
  
  
  </div>
  </div>
  </div>
  </div>
  
  <div><button  (click)="addTitle()" input="button" class="btn btn-primary float right">Add Title</button></div>


<input type ="text" [(ngModel)]="ingradient" placeholder="ingradient">
<input type ="text" [(ngModel)]="amount" placeholder="amount">
<form novalidate 
#form="ngForm">
<select class="form-control"
name="sp"
[(ngModel)]="sp">
<option value="meat"></option>

<option *ngFor="let tpsn of typspoon"
  [ngValue]="tpsn.name">{{ tpsn.name }}</option>

</select>
{{sp}}

<button (click)="addElement()">Add element</button>

</form>
<!-- <p>{{loggedUser.email}}</p> -->


<mat-table #table [dataSource]="datasource">
  
  <ng-container matColumnDef="nameOfIngradient">
     <th mat-header-cell *matHeaderCellDef> Name Of Ingradient </th>
     <mat-cell *matCellDef="let addIngradient"> {{addIngradient.nameOfIngradient}}
      </mat-cell>
        
   
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <mat-cell *matCellDef="let addIngradient"> {{addIngradient.amount}} </mat-cell>
         
    
     </ng-container>

     <ng-container matColumnDef="typeOfAmount">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <mat-cell *matCellDef="let addIngradient"> {{addIngradient.typeOfAmount}} </mat-cell>
         
    
     </ng-container>
     <mat-header-row *matHeaderRowDef="dysplayColums"></mat-header-row>
     <mat-row *matRowDef="let row; columns: dysplayColums;"></mat-row>
</mat-table>


