 
  <form class="form" #form=ngForm>
    
    <div class="form-group">
 <textarea  [(ngModel)]="txt" placeholder="paragraph" name="par" #par="ngModel" required></textarea>
 <div  *ngIf="par.errors && (par.invalid || par.touched)">
  <small class="text-danger" *ngIf="par.errors.required" >Please enter paragraph</small>
</div>
 
 <div><button [disabled]="!form.valid" (click)="addText()">Add pharahraph</button></div>
</div>
  </form>

  
  <div [ngClass]="datasourcetxt.filteredData.length > 0 ? 'vis': 'hid'">
    <button (click)=" addTitle()">Add reciept</button>

   <mat-table #table [dataSource]="datasourcetxt">
  
    <ng-container matColumnDef="paragraph">
       <th mat-header-cell *matHeaderCellDef> Text </th>
       <mat-cell *matCellDef="let addTxt"> {{addTxt.paragraph}}
        </mat-cell>
          
     
      </ng-container>
      
    
      
      <mat-header-row *matHeaderRowDef="dysplayColumsText"></mat-header-row>
     <mat-row *matRowDef="let row; columns: dysplayColumsText;"></mat-row>
  </mat-table> 
</div>