<div class="row mt-5">
    <div class="col-md-4 mb-3"   >
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{id}}</h5>
          <p class="card-text">{{reciepts.title}}</p>
          
        </div>
        <div class="card-footer text-muted">
            <!-- email:userData.email,
            title:userData.title,
            
            type:userData.type,
            ingradient:userData.ingr,
            reciept:userData.content -->
        </div>
      </div>
    </div>
  </div>
<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let rec of reciepts.ingradient">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Ingradients</h5>
          <p class="card-text">{{rec.nameOfIngradient}} {{rec.amount}} {{rec.typeOfAmount}}</p>
         
        </div>
        <div class="card-footer text-muted"> 
          
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let rec of reciepts.reciept">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Reciept</h5>
          <p class="card-text">{{rec.paragraph}}</p>
        
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
    </div>
  </div>
  
